.container {
  position: fixed;
  z-index: 1000;
  --margin: 20px;
  --offset: 15px;
}

.topLeft {
  top: var(--margin);
  left: calc(var(--margin) + var(--offset));
}

.bottomLeft {
  bottom: calc(var(--margin) + var(--offset));
  left: calc(var(--margin) + var(--offset));
}

.topRight {
  top: var(--margin);
  right: calc(var(--margin) + var(--offset));
}

.bottomRight {
  bottom: calc(var(--margin) + var(--offset));
  right: calc(var(--margin) + var(--offset));
}

.topCenter {
  top: var(--margin);
  left: 50%;
  transform: translateX(-50%);
}

.bottomCenter {
  bottom: calc(var(--margin) + var(--offset));
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  border: 2px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  max-width: 480px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  margin-top: 16px;
  display: flex;
  cursor: default;
  overflow: hidden;
}

.text {
  padding: 16px 24px;
  line-height: 1.4;
}

.closeBtn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-right: 8px;
  cursor: pointer;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.open {
  animation: linear forwards alternate;
  animation-name: open;
  animation-duration: var(--open-animation-duration);
}

@keyframes open {
  0% {
    left: 0px;
    transform: translateX(-100%)
  }
  100% {
    left: var(--margin);
    transform: translateX(0%)
  }
}

.openRight {
  animation: linear forwards alternate;
  animation-name: openRight;
  animation-duration: var(--open-animation-duration);
}

@keyframes openRight {
  0% {
    right: 0px;
    transform: translateX(100%);
  }
  100% {
    right: var(--margin);
    transform: translateX(0%);
  }
}

.openTop {
  animation: linear forwards alternate;
  animation-name: openCenter;
  animation-duration: var(--open-animation-duration);
}

@keyframes openCenter {
  0% {
    top: 0px;
    transform: translateY(-100%);
  }
  100% {
    top: var(--margin);
    transform: translateY(0%);
  }
}

.openBottom {
  animation: linear forwards alternate;
  animation-name: openBottom;
  animation-duration: var(--open-animation-duration);
}

@keyframes openBottom {
  0% {
    bottom: 0px;
    transform: translateY(100%);
  }
  100% {
    bottom: var(--margin);
    transform: translateY(0%);
  }
}

.close {
  animation: linear forwards alternate;
  animation-name: close;
  animation-duration: var(--close-animation-duration);
}

@keyframes close {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}